#welcome-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

#welcome-page p {
	font-size: 1.25rem;
	color: rgba(33,33,33,0.75);
}

#welcome-page .create-acc {
	display: block;
	color: var(--link-color); 
	cursor: pointer;
	font-weight: 600;
}

.remember {
	width: 80%;
	max-width: 20rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remember .outer,
.remember .inner {
	transition: all 500ms;
}

.remember .outer {
	cursor: pointer;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
	width: 7rem;
	height: 2.2rem;
}

.remember .inner {
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
	background-color: #fff;
	border-radius: 1rem;
	width: 50%;
	height: 100%;
}

.remember .status-on {
	background-color: var(--btn-confirm);
}

.remember .move-in {
	transform: translateX(100%);
}
